*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
/keystore/important
/keystore/.gitignore
/keystore/keystore_upload
/app/release
/.kotlin
/.cursor
/.vscode
docs/forgeflow
app/keystore/
tmp/
