*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore/important
/keystore/.gitignore
/keystore/keystore_upload
/app/release
/build-settings/build/
/modules/datastore/prefs/build/*
/.kotlin
/build-logic/build
/.cursor
/.vscode
docs/forgeflow
app/keystore/
